<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>
    <link rel="stylesheet" href="/static/bootstrap/js/bootstrap.js">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/business.css">

</head>
<body>
<div class="row" id="login_panel">
<!--<div class="col-md-4" >-->
    <!--<img src="/static/bootstrap/image/logo.png">-->
<!--</div>-->

    <div class="panel panel-default row">
        <div class="panel-body " style="padding: 10px">
            <div class="col-md-1 col-md-offset-1">
                <img src="/static/bootstrap/image/logo.png" id="logo" >
            </div>

            <div class="col-md-1" id="headtitle">
                <h1> Business</h1>
            </div>
        </div>

    </div>

    <div class="col-md-4 col-md-offset-4" id="info">
        <div class="panel panel-default" style="margin-top: 100px">
            <div class="panel-heading">
                <h3 class="panel-title">Login</h3>
            </div>
            <div class="panel-body">
                <form accept-charset="UTF-8" role="form">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="Account" name="account" type="text" ng-model="username">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" type="password" ng-model="password">
                        </div>
                        <input class="btn btn-lg btn-danger btn-block" type="submit" value="Login" ng-disabled="!canLogin()" ng-click="login()">
                    </fieldset>
                </form>

            </div>
        </div>
    </div>

</div>


</body>
</html>